<div class="container">
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">

      <div class="container" id="main">

        <div class="text-center">
          <img src="assets/header_rumah_sakit.png" alt="Logo" class="img-responsive center-block img-teks-judul">
        </div>

        <p>
          Aplikasi web yang berisi daftar kontak layanan kesehatan berupa alamat, nomor telepon, dan lokasi peta GPS untuk layanan Pusat Kesehatan Masyarakat (Puskesmas), Rumah Sakit Umum, dan Rumah Sakit Khusus, yang berada di kota DKI Jakarta dan sekitarnya. Semua kategori tersebut dapat diakses dengan menekan menu-menu yang tersedia di bagian atas halaman ini.
        </p>

        <div class="text-center">
          <img src="assets/logo_jsc640.png" alt="Logo" class="img-responsive center-block img-teks-judul">
        </div>

        <p>
          Data kontak layanan kesehatan dan medis ini bersumberkan dari data yang dihimpun oleh Jakarta Smart City, yang dapat dipakai melalui bantuan Application Programming Interface (API) yang tersedia di
          <a href="http://api.jakarta.go.id/" target="_blank">http://api.jakarta.go.id/</a>
        </p>

        <p>
          API Jakarta merupakan sebuah layanan yang menyediakan informasi data yang ada di lingkup Pemerintah Provinsi DKI Jakarta. Data ini mencakup semua bidang yang ada di Provinsi DKI Jakarta seperti Kesehatan, Kebersihan, Transportasi, dll. Dengan adanya API Jakarta, maka para developer dapat mengembangkan aplikasi mobile atau website menggunakan API yang tersedia.
        </p>

        <p>
          Jika anda ingin memberi masukan terhadap aplikasi ini, silahkan isi
          formulir isian dari Google Forms pada tautan berikut ini :
          <br>
          <a href="https://goo.gl/forms/RnBAmZIZgXRTymaC2" target="_blank">https://goo.gl/forms/RnBAmZIZgXRTymaC2</a>
        </p>

        <br>
        <br>
        <br>

        <div class="text-center about-date">
          <p>Dibuat dengan <i class="glyphicon glyphicon-heart"></i> oleh <a
            href="https://gulajavaministudio.blogspot.co.id/" target="_blank">Gulajava Ministudio</a> &copy; 2017
            <br> untuk Kota DKI Jakarta</p>
        </div>

      </div>

      <br>
      <br>

    </div>

  </div>
</div>
