<div class="container">
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">

      <div class="container" id="main">

        <div class="text-center">
          <img src="assets/kontakpenting-header.png" alt="Logo" class="img-responsive center-block img-teks-judul">
        </div>

        <p>
          Aplikasi web yang berisi daftar nomor telepon penting untuk layanan publik yang ada di kota Bandung dan
          sekitarnya.
          Nomor telepon ini dikelompokkan berdasarkan kategori-kategori tertentu yang terdiri dari Layanan Darurat,
          Rumah Sakit dan Medis, Pelayanan Masyarakat, dan Transportasi. Semua kategori tersebut dapat diakses dengan
          menekan menu-menu yang tersedia di bagian atas halaman ini.
        </p>

        <p>
          Jika anda ingin memberi masukan yang berisi tambahan nomor telepon penting untuk kota Bandung, silahkan isi
          formulir isian dari Google Forms pada tautan berikut ini :
          <br>
          <a href="https://goo.gl/forms/jcbZ5XjGtr1USUKJ3" target="_blank">https://goo.gl/forms/jcbZ5XjGtr1USUKJ3</a>
        </p>

        <br>
        <br>
        <br>

        <div class="text-center about-date">
          <p>Dibuat dengan <i class="glyphicon glyphicon-heart"></i> oleh <a href="https://gulajavaministudio.blogspot.co.id/" target="_blank">Gulajava Ministudio</a> &copy; 2017
            <br> untuk Bandung</p>
        </div>

      </div>

      <br>
      <br>

    </div>

  </div>
</div>
